body
{
  text-align: center;
}

input
{
  width: 20%;
  height: 2vw;
}

select
{
  width: 8%;
  height: 2vw;
}

button
{
  width: 10%;
  height: 2.1vw;
  background-color: blue;
  color: white;
}

.liste
{
  width: 40%;
  margin-left: 35%;
}

ol button
{
    width: 60%;
    float: right;
    background-color: red;
}